<router-outlet></router-outlet>

<p-table #dt [columns]="cols" [value]="serials" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5, 10, 25]">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                <!-- Filters section -->
                <input *ngSwitchCase="'name'" pInputText type="text" placeholder="Name" class="ui-column-filter"
                    style="width: 100%;" (input)="dt.filter($event.target.value, col.field, 'startsWith')">
                <input *ngSwitchCase="'season'" pInputText type="text" placeholder="Season" class="ui-column-filter"
                    style="width: 100%;" (input)="dt.filter($event.target.value, col.field, 'startsWith')">
                    <p-multiSelect *ngSwitchCase="'network'" [options]="networks" [filter]="true"  styleClass="ui-column-filter" [style]="{'width':'100%'}"  defaultLabel="Select a network" (onChange)="dt.filter($event.value, col.field, 'contains')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'premiereDate'" [options]="years" [filter]="true"  styleClass="ui-column-filter" [style]="{'width':'100%'}"  defaultLabel="Select a year" (onChange)="dt.filter($event.value, col.field, 'contains')"></p-multiSelect>
                <!-- End of filters section -->
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serial let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{serial[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>