.ui-table .ui-table-tbody > tr > td {
    text-align: center;

    &:first-child {
        text-align: left;
    }
  }

  .ui-table .ui-table-thead > tr > th {
      background-color: #C716DC !important;
      color: #ffffff !important;
  }
  
  .pi-sort::before {
      color: #ffffff !important;
  }